<div class="blcok_msg">
    <div class="block_con draft_info2">
        <div class="zt-search">
            <div class="ser_tit">
                <div class="title">附件信息</div>
            </div>
            <div class="msg_content">
                <div class="zt-toolbar" style="margin-bottom: 10px;">
                    <div class="toolbar">
                        <button type="button" class="btn btn-default " ng-click="addParties()"><i class="fa fa-plus"></i>&nbsp;添&nbsp;加</button>
                        <button type="button" class="btn btn-default " ng-click="delParties()"><i class="fa fa-close"></i>&nbsp;删&nbsp;除</button>
                    </div>
                </div>
                <div style="width:100%;">
                    <table style="width:1200px;" class="table table-bordered ng-table">
                        <thead class="center txt-black">
                            <tr>
                                <th style="width:100px;"><input type="checkbox"></th>
                                <th>附件名称</th>
                                <th>附件类型</th>
                                <th>大小</th>
                                <!--<th>客商类型</th>-->
                                <th>上传时间</th>
                                <th>上传人</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                    </table>
            </div>
        </div>
    </div>
</div>