<div modal-dialog
     show-dialog="showDialog"
     content-width="600px"
     modal-title="{{modalTitle}}"
     show-footer="false"
     on-show="onShow()"
     on-close="onClose()">
<div id="cxCheck">
	<div class="zt-top">
	    <div class="zt-toolbar">
	        <div class="toolbar">
	            <button class="btn btn-default" ng-click="checkReview()"><i class="fa fa-check"></i> 提 交</button>
	            <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> 取 消</button>
	        </div>
	    </div>
	</div>
	<div class="zt-body" >
	    <div class="blcok_msg border_one">
	        <div class="zt-search zt-search-no">
	        <div class="msg_content">
	            <table class="table-detail table-detail-no" cellpadding="0" cellspacing="0" border="0">
	                <tbody>
	                <tr>
	                    <td class="td-left"><em>*</em>过账日期：</td>
	                    <td><input date-picker ng-model="view.busAccountBudat" type="text" id="templateId" class="inputText_lg" /><span
	                            class="btn-choose"><a class="btn btn-default btn-rl " name="templateBtnId" onclick="WdatePicker({el:this.name})"><i
	                            class="fa fa-calendar"></i></a> </span>
	                    </td>
	                    <!--<td class="td-left"><em>*</em>过账期间：</td>
	                    <td>
	                        <select ng-model="view.busAccountMonth" class="form-control-select-lg">
	                            <option value="">&#45;&#45;选择&#45;&#45;</option>
	                            <option value="1">1</option>
	                            <option value="2">2</option>
	                            <option value="3">3</option>
	                            <option value="4">4</option>
	                            <option value="5">5</option>
	                            <option value="6">6</option>
	                            <option value="7">7</option>
	                            <option value="8">8</option>
	                            <option value="9">9</option>
	                            <option value="10">10</option>
	                            <option value="11">11</option>
	                            <option value="12">12</option>
	                        </select>
	                    </td>-->
	                </tr>
	                </tbody>
	            </table>
	        </div>
	        </div>
	    </div>
	</div>
</div>
	<div mask visible="view.cxShowMask" ref-id="#cxCheck"></div>
	
</div>