@charset "utf-8";
/* CSS header */
/* wxx add 2015-05-21 */
.header{
    width: 100% ;
	min-width: 1000px ;	
}

.top{ 
   position: relative;
   min-height: 66px;
   background: #438eb9;
}

.logo{
   float: left;
   height: 64px;	
}

.logo span.title-name{
  color: #fff;
  font-family: "microsoft yahei";
  font-size: 18px;
  position: relative;
  top: 2px;
}

.logo a:hover{ text-decoration: none ; }

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a.dropdown-toggle {
    padding: 22px 20px;
    min-height: 65px;
    color: #fff;
}
.navbar-top-links li a.dropdown-toggle:hover {
    background: #2281b7;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.navbar-top-links a.dropdown-toggle i.fa{
    font-size: 130%;
}

.label-important, .label.label-important, .badge.badge-important, .badge-important {
    background-color: #ffab00;
}

.badge-position{
    position: relative;
    top:-11px;
}

.icon-animated-bounce {
    display: inline-block;
    -moz-animation: bounce 1s 5 ease 0.6s;
    -webkit-animation: bounce 1s 5 ease 0.6s;
    -o-animation: bounce 1s 5 ease 0.6s;
    -ms-animation: bounce 1s 5 ease 0.6s;
    animation: bounce 1s 5 ease 0.6s;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

.icon-animated-shake {
    display: inline-block;
    -moz-animation: shake 1s 5 ease 1s;
    -webkit-animation: shake 1s 5 ease 1s;
    -o-animation: shake 1s 5 ease 1s;
    -ms-animation: shake 1s 5 ease 1s;
    animation: shake 1s 5 ease 1s;

}

#menu-box{
  clear: both ;
  font-family: "Microsoft YaHei","SimSun" ;
  border-top: 1px solid #000 ;
}

#menu-box .nav > li > a:focus {
  color: #555 ;
  text-decoration: none;
  background-color: #fff ;
  border: 1px solid transparent;
}

.nav-box {
  font-size: 14px ;
  background-color: #11618e ;
  border-top: 1px solid #448fb9 ;
}
.nav-box > li {
  float: left;
  margin-bottom: -1px;
}
.nav-box > li > a {
  font-family: "微软雅黑" ;
  line-height: 15px ; 
  color: #fff ; 
  margin-top: 6px ; 
  margin-left: 2px;
  margin-right: 0px; 
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-box > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-box > li.active > a,
.nav-box > li.active > a:hover,
.nav-box > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.dd-menu{
  position: absolute ;
  left: 0px ;
  top: 110px ;
  z-index: 1000 ;
  width: 100% ;
  padding-bottom: 35px ;
  overflow: hidden ;
  border: 3px solid #11618e ;
  border-top: 0px ;
  border-radius: 0px 0px 5px 5px ;
  background-color: #fff ;
  background: rgba(255,255,255,.95) ; 
  filter: progid:dximagetransform.microsoft.gradient(startcolorstr="#e0ffffff", endcolorstr="#e0ffffff") ;
}

.menu-list{
  float: left ;
  width: 320px ;
  padding: 22px 0px 0px 20px ;	
}

.menu-list h1{
  text-indent: 15px ; 
  font-size: 24px ;
  font-weight: normal ;
  color: #444 ;
  line-height: 60px ;
  margin: 0px ;
  padding: 0px ;
}

.sub-menu a{ 
  float: left ;
  font-size: 15px ;
  text-decoration: none ;
  color: #7a7a7a ;
  line-height: 35px ;
  overflow: hidden ;
  padding: 0px 22px 0px 0px ; 
}

.sub-menu a:hover{
  color: #185993 ;
}

.sub-menu{ padding-left: 78px; }

.menu-icon-01,
.menu-icon-02,
.menu-icon-03,
.menu-icon-04,
.menu-icon-05,
.menu-icon-06,
.menu-icon-07,
.menu-icon-08,
.menu-icon-09,
.menu-icon-10,
.menu-icon-11,
.menu-icon-12,
.menu-icon-13,
.menu-icon-14,
.menu-icon-15,
.menu-icon-16,
.menu-icon-17,
.menu-icon-18,
.menu-icon-19,
.menu-icon-20,
.menu-icon-21,
.menu-icon-22,
.menu-icon-23,
.menu-icon-24,
.menu-icon-25,
.menu-icon-26,
.menu-icon-27,
.menu-icon-28,
.menu-icon-29{
  float: left ;
  width: 60px ;
  height: 60px ;
  background-image: url(../../dist/images/icon-menu.png) ;
}

.menu-icon-02{ background-position: -70px 0px ;}

.menu-icon-03{ background-position: -140px 0px ;}

.menu-icon-04{ background-position: -210px 0px ;}

.menu-icon-05{ background-position: 0px -70px ;}

.menu-icon-06{ background-position: -70px -70px ;}

.menu-icon-07{ background-position: -140px -70px ;}

.menu-icon-08{ background-position: -210px -70px ;}

.menu-icon-09{ background-position: 0px -140px ;}

.menu-icon-10{ background-position: -70px -140px ;}

.menu-icon-11{ background-position: -140px -140px ;}

.menu-icon-12{ background-position: -210px -140px ;}

.menu-icon-13{ background-position: 0px -210px ; }

.menu-icon-14{ background-position: -140px -140px ;}

.menu-icon-15{ background-position: -140px -210px ;}

.menu-icon-16{ background-position: -210px -210px ;}

.menu-icon-17{ background-position: 0px -280px ;}

.menu-icon-18{ background-position: -70px -350px ;}

.menu-icon-19{ background-position: -140px -210px ;}

.menu-icon-20{ background-position: -140px -280px ;}

.menu-icon-21{ background-position: -210px -280px ;}

.menu-icon-22{ background-position: 0px -350px ;}

.menu-icon-23{ background-position: -70px -350px ;}

.menu-icon-24{ background-position: -140px -350px ;}

.menu-icon-25{ background-position: -210px -350px ;}

.menu-icon-26{ background-position: 0px -420px ;}

.menu-icon-27{ background-position: -70px -420px ;}

.menu-icon-28{ background-position: -140px -420px ;}

.menu-icon-29{ background-position: -210px -420px ;}

/*.round-left,
.round-right{
  position: absolute;
  bottom: 1px ;
  width: 7px ;
  height: 7px ; 
  background-image: url(../img/icon.png)!important ; 
  background-repeat: no-repeat; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/img/icon.png') ; 
 _background-image: none ;	
}

.round-left{ 
  left: -7px ;
  background-position: -278px -5px ;
}

.round-right{
  right: -7px ;	
  background-position: -293px -5px ;
}*/

/*20150701 wxx add*/
.menu-icon-xmzj,
.menu-icon-xmys,
.menu-icon-xmsj,
.menu-icon-xmjx,
.menu-icon-xmzx,
.menu-icon-wkg,
.menu-icon-xmpg,
.menu-icon-bggl,
.menu-icon-xmgckz,
.menu-icon-xmlxjg,
.menu-icon-xmgc,
.menu-icon-zlaqjcx,
.menu-icon-xmljy,
.menu-icon-fxmljy,
.menu-icon-jhdsq,
.menu-icon-jhdfh,
.menu-icon-cx,
.menu-icon-xmlcgdd,
.menu-icon-fxmlcgdd,
.menu-icon-fwqrdgl,
.menu-icon-lydgl,
.menu-icon-dbdgl,
.menu-icon-hdxm,
.menu-icon-syxm,
.menu-icon-xmhmpgbpz,
.menu-icon-htmbwh,
.menu-icon-htcx,
.menu-icon-htjy,
.menu-icon-htgcgl,
.menu-icon-htmblxpz,
.menu-icon-htddlxpz,
.menu-icon-spsq,
.menu-icon-xmlxsdd,
.menu-icon-fxmlxsdd,
.menu-icon-xmlxgl,
.menu-icon-xmjhgl{
  float: left ;
  width: 60px ;
  height: 60px ;
  background-size: cover ;
}

.menu-icon-xmzj{ background-image: url(../images/ico-menudown-xmzj.png) ; }

.menu-icon-xmys{ background-image: url(../images/ico-menudown-xmys.png) ; }

.menu-icon-xmsj{ background-image: url(../images/ico-menudown-xmsj.png) ; }

.menu-icon-xmjx{ background-image: url(../images/ico-menudown-xmjx.png) ; }

.menu-icon-xmzx{ background-image: url(../images/ico-menudown-xmzx.png) ; }

.menu-icon-xmpg{ background-image: url(../images/ico-menudown-xmhpg.png) ; }

.menu-icon-bggl{ background-image: url(../images/ico-menudown-bggl.png) ; }

.menu-icon-xmgckz{ background-image: url(../images/ico-menudown-xmgckz.png) ; }

.menu-icon-xmlxjg{ background-image: url(../images/ico-menudown-xmlxjgpz.png) ; }

.menu-icon-xmgc{ background-image: url(../images/ico-menudown-xmgcpz.png) ; }

.menu-icon-zlaqjcx{ background-image: url(../images/ico-menudown-zlaqjcxpz.png) ; }

.menu-icon-wkg{ background-image: url(../images/ico-menudown-wkg.png) ; }

.menu-icon-xmljy{ background-image: url(../images/ico-menudown-xmljy.png) ; }

.menu-icon-fxmljy{ background-image: url(../images/ico-menudown-fxmljy.png) ; }

.menu-icon-jhdsq{ background-image: url(../images/ico-menudown-jhdsq.png) ; }

.menu-icon-jhdfh{ background-image: url(../images/ico-menudown-jhdfh.png) ; }

.menu-icon-cx{ background-image: url(../images/ico-menudown-cx.png) ; }

.menu-icon-xmlcgdd{ background-image: url(../images/ico-menudown-xmlcgdd.png) ; }

.menu-icon-fxmlcgdd{ background-image: url(../images/ico-menudown-fxmlcgdd.png) ; }

.menu-icon-fwqrdgl{ background-image: url(../images/ico-menudown-fwqrdgl.png) ; }

.menu-icon-lydgl{ background-image: url(../images/ico-menudown-lydgl.png) ; }

.menu-icon-dbdgl{ background-image: url(../images/ico-menudown-dbdgl.png) ; }

.menu-icon-hdxm{ background-image: url(../images/ico-menudown-hdxm.png) ; }

.menu-icon-syxm{ background-image: url(../images/ico-menudown-syxm.png) ; }

.menu-icon-xmhmpgbpz{ background-image: url(../images/ico-menudown-xmhmpgbpz.png) ; }

.menu-icon-htmbwh{ background-image: url(../images/ico-menudown-htmbwh.png) ; }

.menu-icon-htcx{ background-image: url(../images/ico-menudown-htcx.png) ; }

.menu-icon-htjy{ background-image: url(../images/ico-menudown-htjy.png) ; }

.menu-icon-htgcgl{ background-image: url(../images/ico-menudown-htgcgl.png) ; }

.menu-icon-htmblxpz{ background-image: url(../images/ico-menudown-htmblxpz.png) ; }

.menu-icon-htddlxpz{ background-image: url(../images/ico-menudown-htddlxpz.png) ; }

.menu-icon-spsq{ background-image: url(../images/ico-menudown-spsq.png) ; }

.menu-icon-xmlxsdd{ background-image: url(../images/ico-menudown-xmlxsdd.png) ; }

.menu-icon-fxmlxsdd{ background-image: url(../images/ico-menudown-fxmlxsdd.png) ; }

.menu-icon-xmlxgl{ background-image: url(../images/ico-menudown-xmlxgl.png) ; }

.menu-icon-xmjhgl{ background-image: url(../images/ico-menudown-xmjhgl.png) ; }

