@charset "utf-8";
/* CSS xiangmulixiang */
/* wxx add 2015-05-20 */
.mt3{ margin-top: 3px ; }

.mt20{ margin-top: 20px ; }

.mt30{ margin-top: 30px ; }

.ml30{ margin-left: 30px ; }

.ml60{ margin-left: 60px; }

.ml90{ margin-left: 90px; }

.ml120{ margin-left: 120px; }

.pt10{ padding-top: 11px ; }

.pl100{ padding-left: 100px ; }

.pb10{ padding-bottom: 10px ; }

.table td{ vertical-align: middle!important ; }

.table td.td-disabled{ background-color: #e9e9e9 ; }

.table-small{ width: 88% ; margin-left: 65px ; }

.btn-add-ht{ 
    float: left ; 
	width: 500px ;
	padding-left:10px ; 
	padding-bottom: 15px ;
}

.table-detail td.pl0{ padding-left:0px ; }

.table-detail .table-left{ 
    width : 150px ;
	text-align: right ;
 }
 
.table-detail .table-center{ width : 286px ; }

.table-detail .td-center-width{ width: 580px ; }

.inp-title-size{
    height: 27px!important ;
	line-height: 27px!important ; 	
	padding: 2px 5px!important ;
    vertical-align: inherit!important;
}

.btn-title-size .btn{ padding: 3px 12px 2px 12px ; margin-top:-2px ; }

.con-main .input-addon{ padding: 9px ; top: 1px ; }

.select-width-auto{ width: auto ; }

.btn-txt-white a,
.btn-txt-white a:hover{ color: #fff ; }

span.nobold{ font-weight: normal ; }

.zt-search button.btn-pd-old{ padding: 6px 12px; }

.right{ float: right ;}


/* CSS xiangmushijianguanli */
/* wxx add 2015-05-26 */

.project-left{
    float: left ;
	width: 253px ;
	min-height: 596px ;
	padding: 10px 10px 20px 0px ;
	border: 1px solid #f1f1f1 ; 
}

.left-tree li{
    position: relative ;
    float: left ;
	width: 100% ;
	line-height: 30px ;
	font-size: 14px ;
}

.left-tree i{
    position: absolute ;
	top: 4px ;
	left: -15px ;
}

.fx-24{ font-size: 22px ; }

.project-right .toolbar{ float: inherit ; }

.project-right{
    margin-left: 268px ;
	border: 1px solid #f1f1f1 ; 
}

.table-scroll{ overflow-x: scroll ; }

.table-scroll .table{ width: 2000px ; }

input.inputText-sm-90{ width: 90px ; }

.left, .left th,
.left, .left td{ text-align: left; }

.table td.pl35{ padding-left: 35px ; }

.table td.bg-e6{ background-color: #e6e6e6 ; }

.bg-fb th,
.bg-fb td{ background-color: #fbfbfb ; }

.bg-yellow td{ background-color: #feffcb ; }

.text-left span.width-70{ width: 70px ; }

.li-width450 li{ width: 450px ; }

.ser_ul li span.ser_tit.ser_tit_150{ width: 150px ; }

.project_con{ padding: 0px 5px ; }

.pl5{ padding-left:5px ; }

.ser_ul li span.st-140{ width: 140px ; }

/*20150623 wxx add*/
.select-pd{ padding: 4px 5px 7px 5px ; }

.ml10{ margin-left: 10px ; }

.ml20{ margin-left: 20px ; }

.ml40{ margin-left: 40px ; }

input.input-60{ width: 60px ; }

