
.my-floatBoxBg {
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity = 50);
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
}
.my-floatBox {
	border: #CCC 1px solid;
	width: 300px;
	position: absolute;
	top: 50px;
	left: 40%;
    background: #fff;
    border-radius: 6px;
    padding: 10px;
    height: auto!important;
}
.my-floatBox .dialog-title{
	float:left;
    font-size: 18px;
}
.my-floatBox .dialog-close{
	float:right;
	cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.my-floatBox .dialog-head{
	height:auto;
    overflow: hidden;
    padding:5px 15px 10px;
    border-bottom: 1px solid #e5e5e5;
}
.my-floatBox{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}


.dialog-content iframe{ border: 0;}
