.z-table-block {
    width: 100%;
    overflow: auto;
    overflow-x: scroll;
}

.z-table {
    width: 2000px;
    font-size: 14px;
    margin-bottom: 0;
}

.z-table-bordered {
    border: 1px solid #ddd;
}

.z-bg-color {
    background-color: rgb(228, 228, 228);
}

.z-table > td {
    text-align: center !important;
}

.z-table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.z-table-bordered > thead > tr > td {
    border: 1px solid #ddd;
    vertical-align: middle;
}

.z-table-bordered > tbody > tr > td {
    border: 1px solid #ddd;
    vertical-align: middle;
}

.z-table-bordered > tbody > tr:nth-of-type(2n+1) {
    background-color: rgb(249, 249, 249)
}

.z-table > thead > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.z-selected-table-body {
    /*border: solid 2px #438eb9 !important;*/
}

.z-table > tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.z-open-child {
    top: -16px;
    /*padding: 5px 15px 5px 8px;*/
    cursor: pointer;
    text-decoration: underline;
    background: url(../../static/images/icon_check_down.png) 0% no-repeat scroll rgba(255, 255, 255, 0)
}

.z-selected-row {
    background-color: rgba(146, 146, 146, 0.69) !important;
}
