<!--当期页面自定义样式-->
<style>
    /*    body {
            margin: 2rem;
        }*/
    svg {
        background-color: #FFF;
        cursor: default;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    svg:not(.active):not(.ctrl) {
        cursor: crosshair;
    }

    path.link {
        stroke: grey;
        stroke-width: 2px;
        cursor: default;
    }

    svg:not(.active):not(.ctrl) path.link {
        cursor: pointer;
    }

    path.link.selected {
        stroke-dasharray: 10, 2;
    }

    path.link.dragline {
        pointer-events: none;
    }

    path.link.hidden {
        stroke-width: 0;
    }

    path.dashlink {
        stroke: black;
        stroke-width: 4px;
        stroke-dasharray: 10, 2;
        cursor: default;
    }

    path.dashlink.hidden {
        stroke-width: 0;
    }

    circle.node {
        stroke-width: 1.5px;
        cursor: pointer;
    }

    circle.node.reflexive {
        stroke: #000 !important;
        stroke-width: 2.5px;
    }

    text {
        font: 12px sans-serif;
        pointer-events: none;
    }

    text.id {
        text-anchor: middle;
        font-weight: bold;
    }

    .gridStyle {
        width: 100%;
        text-align: center;
    }

    .ngViewport {
        /*height: auto !important*/
        min-height: 30rem;
    }

    .btn-pop .dropdown-menu {
        top: inherit;
        left: inherit;
        max-width: 626px;
        padding: 0px;
        background-color: inherit;
        border: none;
    }

    .btn-oper-02 ul {
        float: right;
        width: 110px;
        margin-bottom: 0px;
        margin-left: -1px;
    }

    .btn-oper-02 a {
        float: right;
        width: 130px;
        padding: 7px 0px;
        margin-top: -1px;
        margin-left: -1px;
        text-align: center;
        background-color: #fff;
        border: 1px solid #ccc;
    }

    /*.customer-ng-grid {
        width: 50%;
        height: 50%;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }*/
</style>
<!--页面主体-->
<body>
<div class="zt_warp wrap1000">
    <div class="zt-top">
        <div class="zt-toolbar">
            <div class="toolbar">
                <button class="btn btn-default" ng-click="cleanData()"><i class="fa fa-trash-o"></i> 清 空</button>
                <button class="btn btn-default" ng-click="search()"><i class="fa fa-search"></i> 查 询</button>
                <a href="?module=billDemo&controller=addDemo&action=addDemo" class="btn btn-default"><i
                        class="fa fa-plus"></i> 新 增</a>
                <a href="?module=billDemo&controller=editDemo&action=editDemo" class="btn btn-default"><i
                        class="fa fa-times"></i> 修 改</a>
            </div>
        </div>
    </div>
    <div class="zt-search">
        <div class="ser_tit">
            <div class="title">查询条件</div>
            <div slide-toggle-new ref-el="#projectSearchForm"
                 style="float: right; padding-right: 20px; margin-right: 10px;
                        position:absolute; right:-16px; top:-16px; width:57px; padding:5px 15px 5px 8px;">
            </div>
        </div>
    </div>

    <!--搜索区域代码-->
    <div id="projectSearchForm" class="ser_bolck" style="display: none;">
        <ul class="ser_ul">
            <li>
                <span class="ser_tit">项目简称:</span>
                <input class="inputText" type="text" ng-model="projectModel.projShortname">
            </li>
            <li>
                <span class="ser_tit">甲方项目编号:</span>
                <input class="inputText" type="text" ng-model="projectModel.projOwnerCode">
            </li>
            <li>
                <span class="ser_tit">项目名称:</span>
                <input class="inputText" type="text" ng-model="projectModel.projName">
            </li>
            <li>
                <span class="ser_tit">用户定义项目编号: </span>
                <input class="inputText" type="text" ng-model="projectModel.projCustomCode">
            </li>
            <li>
                <span class="ser_tit">项目编号: </span>
                <input class="inputText" type="text" ng-model="projectModel.projCode">
            </li>
            <li><span class="ser_tit">项目性质: </span>
                <select class="form-control-select" ng-model="projectModel.projNature">
                    <option value="">全部</option>
                    <option value="{{dict.itemKey}}" ng-repeat="dict in projNature"
                            ng-selected="projectModel.projNature == dict.itemKey">{{ dict.itemName }}
                    </option>
                </select>
            </li>
            <li><span class="ser_tit">项目类型: </span>
                <select class="form-control-select" ng-model="projectModel.projType"
                        ng-change="forStatus(projectModel);">
                    <option value="">全部</option>
                    <option value="{{dict.itemKey}}" ng-repeat="dict in projType"
                            ng-selected="projectModel.projType == dict.itemKey">{{ dict.itemName }}
                    </option>
                </select>
            </li>
            <li><span class="ser_tit">项目状态: </span>
                <select class="form-control-select" ng-model="projectModel.projProcessCode"
                        ng-disabled="view.statusFlag">
                    <!-- 							<option value="">--选择--</option> -->
                    <option value="">全部</option>
                    <option value="{{status.itemKey}}" ng-repeat="status in statuses"
                            ng-selected="projectModel.projProcessCode == status.itemKey">{{ status.itemName }}
                    </option>
                    <option value="GC_BUSINESS" ng-selected="projectModel.projProcessCode == 'GC_BUSINESS'">业务关闭
                    </option>
                </select>
            </li>
            <li>
                <span class="ser_tit">所属部门: </span>
                <input class="inputText" type="text" ng-model="projectModel.chargeOrgName" disabled>
                <span class="btn-choose" ng-click="projectModel.showOrgDialog=true"><a class="btn btn-default btn-sm"
                                                                                       href="javascript:void(0)"> 选 择</a></span>
            </li>
            <li>
                <span class="ser_tit">项目经理:</span>
                <input class="inputText" ng-model="projectModel.createName" disabled>
                <span class="btn-choose" ng-click="projectModel.showManDialog=true"><a class="btn btn-default btn-sm"
                                                                                       href="javascript:void(0)"> 选 择</a></span>
            </li>
            <li>
                <span class="ser_tit">立项日期:</span>
                <input class="inputText_sm" id="createStartDate" name="createStartDate"
                       ng-model="projectModel.createStartDate"
                       update-time
                       onFocus="WdatePicker({readOnly:true,maxDate:'#F{$dp.$D(\'createEndDate\',{d:-1})}'})">
                <span class="input-addon"
                      onclick="WdatePicker({el:'createStartDate',maxDate:'#F{$dp.$D(\'createEndDate\',{d:-1})}'})"><i
                        class="fa fa-calendar"></i></span>
                &nbsp;到&nbsp;
                <input class="inputText_sm" id="createEndDate" name="createEndDate"
                       ng-model="projectModel.createEndDate"
                       update-time
                       onFocus="WdatePicker({readOnly:true,minDate:'#F{$dp.$D(\'createStartDate\',{d:1})}'})">
                <span class="input-addon"
                      onclick="WdatePicker({el:'createEndDate',minDate:'#F{$dp.$D(\'createStartDate\',{d:1})}'})"><i
                        class="fa fa-calendar"></i></span>
            </li>
            <li>
                <span class="ser_tit">业务关闭日期:</span>
                <input class="inputText_sm " id="closeStartDate" name="closeStartDate"
                       ng-model="projectModel.closeStartDate"
                       update-time onFocus="WdatePicker({readOnly:true,maxDate:'#F{$dp.$D(\'closeEndDate\',{d:-1})}'})">
                <span class="input-addon"
                      onclick="WdatePicker({el:'closeStartDate',maxDate:'#F{$dp.$D(\'closeEndDate\',{d:-1})}'})"><i
                        class="fa fa-calendar"></i></span>
                &nbsp;到&nbsp;
                <input class="inputText_sm" id="closeEndDate" name="closeEndDate" ng-model="projectModel.closeEndDate"
                       update-time
                       onFocus="WdatePicker({readOnly:true,minDate:'#F{$dp.$D(\'closeStartDate\',{d:1})}'})">
                <span class="input-addon"
                      onclick="WdatePicker({el:'closeEndDate',minDate:'#F{$dp.$D(\'closeStartDate\',{d:1})}'})"><i
                        class="fa fa-calendar"></i></span>
            </li>
        </ul>
    </div>
    <!--搜索区域结束-->

    <div id="projectListDetail" class="gridStyle" ng-grid="gridOptions"></div>
    <div class="tb_footer">
        <div page-plugin
             total-page="chageContractItem.totalPage"
             total-count="chageContractItem.totalCount"
             page-size="pb.pageSize"
             current-page="pb.currentPage"
             current-page-size="chageContractItem.data.length"
             on-select-page="switchPage(currentPage, pageSize)">
        </div>
    </div>
    <!--<div modal-dialog show-dialog="view.showEmergencyDialog" modal-title="选择项目/分册" confirm-button="确定" show_footer=true
         on-confirm="projectChoose()">
        <div>
            <ul style="height: 150px; overflow: auto; font-size: 13px; margin-left: 0px; padding-left: 0px;"
                class="ht_fl">
                <li ng-repeat="project in projects">
                    <input type="radio" name="radio" ng-click="checkPro(project)"/>{{project[0]}}
                </li>
            </ul>
        </div>
    </div>-->
    <div loading-animation visible="view.showMask" ref-id="#projectListDetail"></div>
    <div tree-dialog
         show-dialog="projectModel.showOrgDialog"
         category="organization"
         only-select-leaf="true"
         org-id="0"
         modal-title="组织部门"
         confirm-button="确认"
         on-selected-confirm="selectOrg(id, name)"></div>
    <div tree-dialog
         show-dialog="projectModel.showManDialog"
         category="pm"
         only-select-leaf="true"
         org-id="0"
         modal-title="项目经理"
         confirm-button="确认"
         on-selected-confirm="selectMan(id, name)"></div>
</div>
</body>